/*Common,other START*/
body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/bg-image.jpg");
}
.container {
  padding: 0;
}
h2 {
  color: #333;
  font-weight: 700;
}
p {
  color: #666;
  font-weight: 700;
}
.align-center {
  text-align: center;
}
.main-title {
  padding: 10px 10px 10px 0;
  font-family: "DotGothic16", sans-serif;
}
.area-title {
  padding: 10px 0 0px 0;
  font-family: "DotGothic16", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}
.outer-catchArea {
  display: flex;
  justify-content: center;
  width: 100%;
}
.text-chatgpt {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 12px;
  font-family: "Meiryo", "メイリオ", sans-serif;
}
.catchArea {
  display: flex;
  flex-direction: column;
}
/*Common,other END*/

/*Top image START*/
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.image-container img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.image-container img.search-view {
  max-width: 400px;
  text-align: center;
}
/*Hidden until the image is loaded */
.image-container img.lazyload {
  opacity: 0;
}
/*Display when image loading is complete*/
.image-container img.lazyload.loaded {
  opacity: 1;
  transition: opacity 0.5s;
}
/*Top image END*/

/*Search button area form START*/
#textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box {
  display: flex;
  justify-content: center;
  width: 300px;
  border: 1px solid black;
  box-shadow: 0 0 0 5px white;
  border-radius: 30px; /* 変更時は、子のradiusも変更 */
  overflow: hidden; /* はみ出した部分を非表示に */
}
.search-input {
  padding: 5px;
  outline: none;
  position: relative;
  flex-grow: 1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.search-button {
  padding: 5px;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  position: relative;
  box-sizing: border-box;
  color: black;
  border: none;
  border-left: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.to-image-link {
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

#inputImg {
  display: none;
}

#cameraButton {
  display: inline-block;
  padding: 10px 30px;
  font-size: 18px;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 7px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

#cameraButton:hover {
  background-color: grey;
}
/*Search button area form END*/

/*Catchphrase area START*/
.catchphrase-area {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DotGothic16", sans-serif;
}
.catchTextGroup1 {
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.catchTextGroup2 {
  font-size: 30px;
  width: 100%;
  margin-bottom: 10px;
}
。to-image-link {
  margin-top: 30px;
  text-decoration: none;
  color: black;
}
/*Catchphrase area END*/

/* Result Area START */
.result-card {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-size: 100% 100%;
  background-position: center center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "DotGothic16", sans-serif;
  background-image: url("../img/background-ue.png");
}
.result-title {
  padding-top: 18px;
}
.result-detail {
  padding: 10px 3% 20px 3%;
}
.result-question {
  font-weight: 700;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 2px;
}
.result-answer {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
}
.back-btn {
  background-color: transparent;
  /*border: 1px solid #ccc;*/
  /*border-radius: 20px;*/
  padding: 3px 10px;
  font-family: "DotGothic16", sans-serif;
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.back-btn:hover {
  color: black;
  text-decoration: none;
}
.back-btn i {
  color: black;
}
.captureed-image {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
/* Result Area EMND*/

/* スマホ画面の場合 */
@media (max-width: 600px) {
  /* 一般的にスマートフォンの横幅は600px以下とされています */
  /*キャッチコピーエリア 始まり*/
  .catchTextGroup1 {
    font-size: 14px;
  }
  .catchTextGroup2 {
    font-size: 22px;
    display: block;
  }
  .catchText3 {
    letter-spacing: 0.2em;
  }
  /*キャッチコピーエリア 終わり*/

  /*検索フォーム 始まり*/
  .search-box {
    width: 60%; /* for mobile screens */
  }
  /*検索フォーム 終わり*/

  .image-container img.search-view {
    max-width: 200px;
  }
}
